/*body {

	padding: 0 !important;
}*/

.container {

	text-align: center;
	margin: 0px auto;

}

.logo {

	font-size: 4em;
}

.muse-search,
.mixes,
.stage {

	width: 100%;
	text-align: center;
}

.logo {

	position: relative !important;
	left: 0px !important;
	text-align: center !important;
}

.muse-search {

	display: inline-block;
	margin: 0px auto;
	margin-top: 100px;
}

.mix > .mix-info {
	display: block !important;
}

#resultInfo {

	font-size: 1.5em;
	margin-top: 40px;
	vertical-align: top;
}


#input-classical,
#input-beat {

	margin: 0px 15px;
	display: inline;
	width: 30%;

	@media only screen
		and (min-width : 1224px) {

		width: 50%;
	}

}


.mixes {

	margin-top: 30px;
	min-height: 200px;
}

.stage {

	padding: 25px;
}

#slider {

	width: 100%;
	margin: 0px auto;
	display: block;
}

.mix {

	vertical-align: top;

	display: inline-block;

	width: 30%;
	margin: 10px;

	/*border: 1px solid black;*/

	text-align: center;

	@media only screen and (min-width: 700px) {

		width: 30%;
	}
}

.mix-guide {

	display: none;
}

.mix-result {

	margin-left: -5em;
	opacity: 0;
	display: none;
}

.mix-result p {


	width: 150%;
}

.mix-button {

	display: inline-block;
	vertical-align: middle;

	margin: 20px 5px 5px;
	padding: 5px;
}

.mix-result > .mix-info {

	display: inline-block;
	vertical-align: middle;

	margin: 5px;
	padding: 5px;

}

.mix-seek {

	margin-top: 50px;

	height: 5px;
	background-color: black;
}

.mix-record {

	clear: both;
}

.mix-record > span {

			transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

	font-size: 5em;
}

.mix-record > span.recording {

	        transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

	font-size: 6em;
	color: #A00000;
}

.mix-add > span {

	font-size: 5em;
}


.mix-button > span {

	font-size: 4em;
}

.mix-share {

	display: inline-block;
	margin: 45px 20px;
}