/* PAGE ELEMENTS */

.container {

	margin: 0px auto;
	text-align: center;

}

.muse-search,
.mixes,
.stage {

	width: 100%;
	text-align: center;
}

/* LOGO */

.logo {

	font-size: 4em;
	position: relative !important;
	left: 0px !important;
	text-align: center !important;
}

/* SEARCH ELEMENTS */

.muse-search {

	display: inline-block;
	margin: 0px auto;
	margin-top: 100px;
}

.mixes {

	margin-top: 30px;
	min-height: 200px;
}

#input-classical,
#input-beat {

	margin: 0px 15px;
	display: inline;
	width: 30%;

	@media only screen
		and (min-width : 1224px) {

		width: 50%;
	}

}

.mix {

	display: inline-block;
	vertical-align: top;

	width: 30%;
	margin: 10px;

	text-align: center;

	@media only screen and (min-width: 700px) {

		width: 30%;
	}
}

.mix > .mix-info {
	display: block !important;
}




/* PLAY ELEMENTS */

.mix-guide {

	display: none;
}

.mix-button {

	display: inline-block;
	vertical-align: middle;

	margin: 20px 5px 5px;
	padding: 5px;
}

.mix-record {

	clear: both;
}

.mix-record > span {

			transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

	font-size: 5em;
}


/* REPLAY ELEMENTS */

.stage {

	padding: 25px;
}

.mix-result {

	margin-left: -5em;
	opacity: 0;
	display: none;
}

.mix-result p {


	width: 150%;
}


.mix-result > .mix-info {

	display: inline-block;
	vertical-align: middle;
	vertical-align: top;

	margin: 5px;
	margin-top: 40px;
	padding: 5px;

	font-size: 1.5em;
}

.mix-share {

	display: inline-block;
	margin: 45px 20px;
}